apiVersion: batch/v1
kind: Job
metadata:
  name: vina-runner
  namespace: drug-pipeline
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: vina-runner
          image: pipeline/vina-runner:local
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: pipeline-config
          env:
            - name: WORKSPACE
              value: /workspace
            - name: DB_PATH
              value: /zinc-library/db/ocp_results.sqlite
          volumeMounts:
            - name: zinc-library-pvc
              mountPath: /zinc-library
            - name: work-pvc
              mountPath: /workspace
      volumes:
        - name: zinc-library-pvc
          persistentVolumeClaim:
            claimName: zinc-library-pvc
        - name: work-pvc
          persistentVolumeClaim:
            claimName: work-pvc
